<!-- <div class="wrapper_search"> -->


    <div  *ngIf="current.response" class="curent__weather">
        <div class="current__header">
            <h2>your location</h2>
        </div>
        <div class="wrapper__current__block">
            <div class="curent__block">
                <div class="curent__title">
                        <h3> Country : {{current.response.sys.country}}</h3>
                </div>
                <div class="curent_subtitle">
                    <h4>loc : {{current.response.name}}</h4>
                </div>

                <div class="curent_info">
                    <p>lat : {{current.response.coord.lat}}</p>
                    <p>lon : {{current.response.coord.lon}}</p>
                </div>

            </div>


            <!-- SECOND BLOCK -->
            <div class="curent__block">

                <div class="search__wild">
                    <img src="{{imgUrl + current.response.weather[0].icon + '.png'}}" alt="">
                </div>
                <div class="curent__title">
                        <h3>{{current.response.main.temp}}&#8451;</h3>
                </div>
                <div class="curent_subtitle">
                    <h4> {{current.response.weather[0].description}}</h4>
                </div>

                
                
            </div>

            <!-- THIRD BLOCK -->
            <div class="curent__block">

                <div class="curent__wild">
                    <img src="/img/wind.png" alt="wind">
                </div>

                <div class="curent__title">
                      <h3> speed : {{current.response.wind.speed}} m/s</h3>
                </div>
                
            </div>
        </div>
       
    </div>



    <form [formGroup]="form"  class="wrapper_search">
        <label for="find_location">Find Location</label>
        <input 
            formControlName="search"
            [(ngModel)]="dataService.city"
            autocomplete="on"
            type="text" 
            id="find_location" 
            placeholder="Search location...">
        <button (click)="search()" class="btn btn__search" type="submit">Search</button>    
        
    <div #cityCard
        routerLink='/post' 
        *ngIf="dataService.response" 
        class="current__serach">
        <div class="search__wrapper">
            <h3 class="search__city">City : {{dataService.response.name}}</h3>

        </div>
        
        <div class="search__temp">
            {{dataService.response.main.temp}} &#8451;
        </div>

        <div class="search__wild">
          <img src="{{imgUrl + dataService.response.weather[0].icon + '.png'}}" alt="">
        </div>
    </div>

    <button disabled  *ngIf="dataService.response"  class="btn add__post">Add+ ( {{dataService.response.name}})</button>
</form>

<!-- </div> -->

<!-- <div class="wrapper_cities">
    <h2 class="cities_title">
        Cities
    </h2>

    <app-post-weather></app-post-weather>
    <app-post-weather></app-post-weather>

</div> -->


<app-addcity></app-addcity>

