<!-- <div class="wrapper_search"> -->

    <div class="curent__weather">
        <h2>current weather</h2>
        <div
            *ngIf="current.response"  
            class="curent__block">
           <div class="curent__title">
                 <h3> Country : {{current.response.sys.country}}</h3>
           </div>
           <div class="curent_subtitle">
               <h4>City : {{current.response.name}}</h4>
           </div>
        </div>
    </div>






    <form [formGroup]="form"  class="wrapper_search">
    <label for="find_location">Find Location</label>
    <input 
        formControlName="search"
        [(ngModel)]="dataService.city"
        autocomplete="on"
        type="text" 
        id="find_location" 
        placeholder="Search location...">
    <button (click)="search()" class="btn btn__search" type="submit">Search</button>    
    
    <div routerLink='/post' 
        *ngIf="dataService.response" 
        class="current__serach">
        <div class="search__wrapper">
            <h3 class="search__city">City : {{dataService.response.name}}</h3>

        </div>
        
        <div class="search__temp">
            {{dataService.response.main.temp}} &#8451;
        </div>

        <div class="search__wild">
          <img src="{{imgUrl + dataService.response.weather[0].icon + '.png'}}" alt="">
        </div>
    </div>
</form>

<!-- </div> -->

<!-- <div class="wrapper_cities">
    <h2 class="cities_title">
        Cities
    </h2>
  
    <app-post-weather></app-post-weather>
    <app-post-weather></app-post-weather>
    
  
 
</div> -->




